<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Formulario de Atendimento</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class="container">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Detalhes do Evento</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Voltar</a>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="collection with-header">
        <li class="collection-header"><h4><span th:text="${evento.nome}"></span></h4></li>
        <li class="collection-item"><span th:text="${evento.local}"></span></li>
        <li class="collection-item"><span th:text="${evento.data}"></span></li>
        <li class="collection-item"><span th:text="${evento.horario}"></span></li>
    </ul>


    <th:block th:include="mensagemValidacao"></th:block>


    <form method="post">

        <ul class="collection with-header">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate" name="nomeConvidado">
                    <label for="icon_prefix">Nome Completo</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">assignment</i>
                    <input id="icon_telephone" type="text" class="validate" name="rg">
                    <label for="icon_telephone">Registro Geral (RG)</label>
                </div>
            </div>
        </ul>
        <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">save</i> Salvar
        </button>
    </form>
<br>
<br>
    <ul class="collection with-header">
        <li class="collection-header"><h4>Lista de Convidados</h4></li>
        <table class="container">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Registro Geral</th>
                <th>Deletar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="convidado : ${convidados}">
                <td><span th:text="${convidado.nomeConvidado}"></span></td>
                <td><span th:text="${convidado.rg}"></span></td>
                <td><a class="waves-effect waves-light btn-small" th:href="@{/deletarConvidado/{codigo} (codigo = ${convidado.rg}) }"><i class="material-icons">delete</i></a></td>
            </tr>
            </tbody>
        </table>
    </ul>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>